.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .resizableContainer {
    width: 600px;
    height: 540px;
    resize: both;
    overflow: auto;
    border: 2px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;

    .main {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-grow: 1;
    }
  }
}