.item {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 5px;
  margin-bottom: 10px;
  background-color: #e8eaf6;
  border-radius: 6px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-size: 18px;

  div {
    margin-left: 5px;
    word-break: break-word;
  }

  input {
    flex-shrink: 0;
  }
}

.item:hover {
  background-color: #d1d9ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text {
  text-decoration: line-through
}